@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@theme {
  --font-display: "Inter", "sans-serif";
  --color-bg: #191919;
  --color-box: #262626;
  --color-text: #FFFFFF;
}


#root{
    font-family: 'inter', sans-serif;
    min-height: 100vh;
    background-color: #191919;
}
